

.header{
  width: 100vw;
  height: 70px;
  position: fixed;
  background-color: #ab2a19;
  top: 0;
}

.dash_div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  
}

.product{
  width: 400px;
  height: 150px;
  background-color: #d34735;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px 10px;
}
img {
  height: 150px;
  width: 200px;
}
.prod_main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 150px;
}




